/*HOME*/

#hoehetwerkt{

    background-color: #7ebaec;

}
.img-index {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    width: 100%;
}


/* transparent box.*/
.intro-text{
    background-color: rgba(228, 255, 252, 0.70) !important;
    border-radius: 10px;

}
.textbox {
    color:black;
    margin-top: 350px !important;
}

@media (max-width: 1200px) {
    .textbox {
        margin-top: 50px !important;
    }
}

.org-header {
    background-repeat: no-repeat!important;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover !important;
    -o-background-size: cover;
    text-align: center;
}
#contact_deel{

    color:white;
}
/*contact onderin*/
#contact_background{
    background-color: black;
}
.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

/*alles bovenin*/
header {
    height: 698px;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 11;
}
.search {
    border-radius: 6px;
    border-color: black;
    text-align: center;
    font-size: 46px;
    border-width: 1px;
}
.search-form {
    position: absolute;
    top: 155px;
    opacity: 0.9;
}
.btn-search-bar {
    background-color: #86d41e !important;
    height: 64px;
    width: 200px;
    border-style: solid;
    border-color: black;
    font-weight: 700;
    margin-top:-32px;
}



.boxcont {
    max-width: 700px;
    position: absolute;
    color: #ffffff;
    animation: fadein 2.5s;
    text-shadow: #080808;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
    font-size: 17px;
    background-color: rgba(123, 120, 120, 0.50);
}
.postcode-results {
    text-align: center;
}
.nocomments {
    width: 99%;
    font-weight: 800;
}

/*organisatie*/
#organisatie-naam{
    font-size: 24px;

}

.organisatie_image{
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
}

/*events*/

@media (max-width: 1000px) {
    .text-muted {
        /*  margin-left:100px !important; */

    }

    .portfolio-caption {
        /* margin-left: 70px ; */
    }

    .search{
        width:220px;
    }
}
@media (min-width: 1000px) {
        .text-muted {
            margin-left: 0px !important;
        }
    .navbar-nav>li>a {
        padding: 26px !important;
    }
    }
.navbar {
    height: 100px !important;
}
body {
    font-family: "Segoe UI", Arial, sans-serif;
}
.navbar-right {
    font-size: 25px;
}
.navbar-brand>img {
    display: block;
    width: 207px;
    margin-top: -15px;
}
@media (max-width: 730px) {
    .navbar-default .navbar-collapse {
        background-color: black;
        margin-top: 33px;
    }
}
.latest-events {
    padding: 20px;
}