body{
	margin: 0;
	background-color: #00b31a;
}
.nav{
	height: 400px;
	width: 250px;
	background-color:#A8A8A8;
}
ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    display: block;
	text-decoration: none;
}
.header{
	height: 70px;
	width: 100%;
	background-color: #F00C0C;
	color: #FFF;
	font-size: 25px;
	text-align: center;
}
.headerr {
    margin-top: 310px;
}