.shopitem {
    height: 160px;
    width: 260px;
    margin: 0 auto;
    background-repeat: no-repeat;
    border-color: red;

}

.prijsbenzine {
    font-size: 20px;

}

#Tarieven {
    background-image: url("http://www.thecraftyninja.com/wp-content/uploads/2012/08/PinkGradientBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
   width: 100%;
    height: 150%;
}

.pbenzine {
    color: gray;
    font-size: 20px;
}



.textvestigingen {
    color: #000000;
    margin-top: 30px;
    padding-left: 50px;
}

.textbox {
    background: rgba(57, 0, 1, 0.50);
}


