/*	
	Side Navigation Menu
	===================
	License:
	http://goo.gl/KC3XXj
	===================
	Author: @PableraShow

 */

@import url(http://pablogarciafernandez.com/css/reset.css);

/* Typography
------------------------------------- */
@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
    font-family: Merriweather Sans;
  font-weight: 500;

}

/* Navigation */

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  transition-delay: 0s;
  transition-duration: 0.36s;
  transition-property: all;
  transition-timing-function: line;
    padding: 20px;
    font-size: 20px;
}

nav a:hover { font-weight: 400; }

nav,
nav:hover { padding: 1em; }

nav a {  }

nav:hover a {
  text-indent:0px;
  color: #fff;
}
nav:hover a:hover{
	color: #2d2d2d;
    text-decoration: none;
}

svg,
a { vertical-align: top; }

/* End Navigation */


/* Sections */

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size:3em; 
  font-weight: 300;
  color: #ffffff;
  line-height:1.8em;
}

h2 { font-weight: 300; color: white; }

h2 a { font-weight: 700; }

h3 {
    color: white;
}


/* End Sections */


/* Structure
------------------------------------- */


/* Navigation */

img {
    margin-top: 14px;
    position: absolute;
    display: inline-block;
    margin-left: -16px;
}


nav {
  position: fixed;
  left: 0;
  top: -60px;
  bottom: 0;

  height: auto;
  min-width:1px;
  width: 1px;

  
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: line;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: auto;
  width: auto;
background-image: url("menu.jpg");

}


li {
  padding:1.9em;
  height:72px;
}

li:hover {
    background-color: rgba(157, 34, 15, 0.60);
    text-decoration: none;
}

svg,
a { display: inline-block; }

/* End Navigation */

/* Sections */

section { padding: 2em 0 0 14em; }

/* End sections */