body{
	margin: 0;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.nav{
	height: 100%;
	width: 250px;
	position: absolute;

}

ul{
	list-style-type: none !IMPORTANT;
    margin: 0;
    padding: 0;
}
a {
    display: block;
	text-decoration: none;
	font-family: Merriweather Sans;
	color: #F00C0C;
	text-align:center;
	padding: 20px;
}
.nav a:hover{
	background-color: #ae9ea5;
	color: white;
}
ul {
    margin-left: 1.25rem;
    display: -webkit-inline-box;
    list-style-type: none;
}

.header{
	height: 50px;
	width: 100%;
	font-family: Merriweather Sans;
	font-size: 25px;
	text-align: center;
	padding-top: 20px;
}
.container{
	height: 500px;
	width: 500px;
    font-family: Merriweather Sans;
}
.active{
	background-color:#f00c0c;
	color: white;
}
.logo{
	 position: absolute;
	 margin-left: 250px;
    margin-top: -90px;
    width: 12%;
    height: 21%;
}
#aanpassen a{
    background-color: white !important;
    color:black;
    text-align: left !important;
}
